{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->
<form method="POST">
    <div>
        <!-- <label for="title">Title:</label> -->
        <input name="title" id="title" value="{{entry['title'] }}"><br>
    </div>

    <div>
        <!-- <label for="content">Content:</label> -->
        <input name="content" id="content" value="{{entry['content'] }}"><br>
    </div>

    <button type="submit">Update Entry</button>
</form>

<p><a href="{{ url_for('dashboard') }}">Back to dashboard</a></p>

{% endblock %}